#homeSlider .swiper-button-prev,
#homeSlider .swiper-rtl .swiper-button-next {
  left: 41%;
  right: auto;
  top: 93.5% !important;
  background: #fff !important;
  border-radius: 15px;
}
#homeSlider .swiper-button-next,
#homeSlider .swiper-rtl .swiper-button-prev {
  right: 43%;
  left: auto;
  top: 93.5%;
  background: #fff !important;
  border-radius: 15px;
}
#homeSlider .swiper-button-prev.swiper-button-disabled,
#homeSlider .swiper-button-next.swiper-button-disabled {
  opacity: 0.7;
  cursor: auto;
}
#homeSlider .swiper-button-prev:after,
#homeSlider .swiper-button-next:after {
  font-size: 12px !important;
  color: black;
  font-weight: 700;
}
#homeSlider span.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  display: block;
  background: #bcbcbc;
  border-radius: 100px;
  cursor: pointer;
}

#homeSlider
  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: 22px;
  z-index: 4;
  width: 10%;
  display: flex;
  -moz-column-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  background: #fff;
  padding: 6px 0;
  left: 44%;
  border-radius: 17px;
}
#homeSlider span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f00 !important;
}
@media (max-width: 1000px) {
  #homeSlider .swiper-button-prev,
  #homeSlider .swiper-rtl .swiper-button-next {
    left: 39%;
  }
  #homeSlider .swiper-button-next,
  #homeSlider .swiper-rtl .swiper-button-prev {
    right: 44%;
  }
}
@media (max-width: 780px) {
  #homeSlider .swiper-button-prev,
  #homeSlider .swiper-rtl .swiper-button-next {
    left: 34%;
    display: none;
  }
  #homeSlider .swiper-button-next,
  #homeSlider .swiper-rtl .swiper-button-prev {
    right: 42%;
    display: none;
  }
  #homeSlider
    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 16px;
    width: 20%;
    left: 39%;
  }
}
@media (max-width: 570px) {
  #homeSlider
    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 16px;
    width: 26%;
    left: 35%;
  }
}
