@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
}
.sidebar-item {
  padding: 0.5em 0.5em;
  transition: background-color 0.15s;
  border-radius: 5px;
}
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}
.sidebar-item.open > .sidebar-content {
  height: auto;
}

.slick-slide > div:focus-visible {
  outline: none !important;
}
.react-tabs__tab--selected {
  background: #ffffff !important;
  border-color: #b9b7b7 !important;
  color: black !important;
  border-radius: 5px 5px 0 0 !important;
}
.react-tabs__tab-list {
  border-bottom: 0px solid #aaa !important;
  margin: 0 0 0px !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 12px !important;
  color: white;
  font-weight: 700;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  background: red !important;
  width: 26px !important;
  height: 26px !important;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  background: red !important;
  width: 26px !important;
  height: 26px !important;
}

/* TitTap Editor Design */
.ProseMirror {
  padding: 10px;
  border-top: 1px solid #e7e7e7;
  background: white;
  border-radius: 0 0 5px 5px;
  min-height: 150px;
  outline: none;
}
.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 2rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #e7e7e7;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #e7e7e7;
  margin: 2rem 0;
}

/* ............................ */
.textEditor {
  border-radius: 5px;
  border: 1px solid #e7e7e7;
}
.menuBar {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuBar button {
  font-size: 18px;
  margin: 7px;
  margin-right: 15px;
  outline: none;
  border: none;
  background: none;
  color: rgb(70, 70, 70);
  cursor: pointer;
}
.menuBar button:last-child {
  margin-right: 7px;
}

.heading3 {
  font-size: 15px;
}

button.is_active {
  background: rgb(197, 197, 197);
  padding: 2px 3px;
  border-radius: 2px;
}

.textEditor h2 {
  font-size: 22px;
}
.textEditor h3 {
  font-size: 18px;
}

.textEditor ul {
  list-style: disc;
}
.textEditor ol {
  list-style: decimal;
}
.product-description{
  padding-left:8px
}
.product-description h2 {
  font-size: 19px;
  font-weight: 500;
}
.product-description h3 {
  font-size: 16px;
  font-weight: 500;
}
.product-description ul li {
  margin-bottom: 5px;
  list-style: disc;
}
.product-description ol li {
  margin-bottom: 5px;
  list-style: decimal;
}

.product-description ul {
  padding-left: 32px;
}
