@tailwind base;
@tailwind components;
@tailwind utilities;
.sidebar-item {
  padding: 0.5em 0.5em;
  transition: background-color 0.15s;
  border-radius: 5px;
}
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}
.sidebar-item.open > .sidebar-content {
  height: auto;
}

.slick-slide > div:focus-visible {
  outline: none !important;
}
.react-tabs__tab--selected {
  background: #141423 !important;
  border-color: #fff !important;
  color: white !important;
  border-radius: 5px 5px 0 0;
}
.react-tabs__tab-list {
  border-bottom: 0px solid #aaa !important;
  margin: 0 0 0px !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 12px !important;
  color: white;
  font-weight: 700;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  background: red !important;
  width: 26px !important;
  height: 26px !important;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  background: red !important;
  width: 26px !important;
  height: 26px !important;
}
